<mat-toolbar color='primary'>LocalCast Weather</mat-toolbar>
<div fxLayoutAlign="center">
  <div class="mat-caption">Your city, your forecast, right now!</div>
</div>
<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex="300px">  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Current Weather</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-current-weather></app-current-weather>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
<router-outlet></router-outlet>